<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"> -->
    <link rel="stylesheet" href="../static/main.css">
    <title>Project Tree</title>
</head>
<body>

    <div class="navbar">
     
            <ul>
                <a href="">Home</a>
                <a href="">About</a>
                <a href="">Contact Us</a>
            </ul>

            <div class="searchbr">
                <label for="">Search</label>
                <input type="search" name="" id="" placeholder="Search about tree">
            </div>
    
    </div>
    <h1 class="Heading">Tree Information</h1>


    <div class="treebod"></div>
    <div class="treebod"></div>
    <div class="treebod"></div>

</body>
</html>