<!DOCTYPE html>
<head>
    <title>Test</title>
</head>
<body>

    <table border="2">
        <tr>
            <th>Name</th>
            <th>Batch</th>
            <th>Age</th>
        </tr>

        {% for i in range(ln) %}
            <tr>
                <td>{{ name[i] }}</td>
                <td>{{ batch[i] }}</td>
                <td>{{ age[i] }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>Search Query: {{ aage }}</p>

    {% if result %}
        <p>Name: {{ result.name }}</p>
        <p>Batch: {{ result.batch }}</p>
        <p>Age: {{ result.age }}</p>
    {% else %}
        <p style="color:red">Not found</p>
    {% endif %}

</body>
</html>
